<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/carcada.svg" width="117" height="30">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Dashboard </a>
      <a class="nav-item nav-link active" href="#" routerLink="rides" routerLinkActive="active">Fahrt Suchen</a>
      <a class="nav-item nav-link" href="#" routerLink="new-ride" routerLinkActive="active">Neue Fahrt</a>
    </div>
  </div>
</nav>
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Home</a>
  <span class="breadcrumb-item active">Fahrt Suchen</span>
</nav>
<router-outlet></router-outlet>
