<div class="container ride-list">
  <div class="row ride" *ngFor="let ride of rideList">
    <div class="col-xs-12">
      <div class="row header">
        <div class="col-xs-8">
          <div class="track">{{ride.from}} – {{ ride.to }}</div>
          <div class="price">{{ride.price}} EUR</div>
        </div>
        <div class="col-xs-4 stack-vertical">
          <div class="profile-picture" [ngStyle]="{'background-image': 'url(/assets/'+ride.offeredBy.img+')'}"></div>
          <div class="name">{{ride.offeredBy.firstname}}</div>
          <div>{{ride.offeredBy.userRating}}</div>
        </div>
      </div>
      <div class="row detail">
        <div class="row main">
          <div class="col-xs-4">{{ride.departureTime}}<!-- date --></div>
          <div class="col-xs-4">{{ride.seats}}</div>
          <div class="col-xs-4">{{ride.departureTime}}<!-- time --></div>
        </div>
        <div class="row features">
          <div class="col-xs-6">Feature 1</div>
          <div class="col-xs-6">Feature 2</div>
          <div class="col-xs-6">Feature 3</div>
          <div class="col-xs-6">Feature 4</div>
        </div>
      </div>
    </div>
  </div>
</div>
