[submodule "web/carcada/src/app/taurissimo"]
	path = web/carcada/src/app/taurissimo
	url = https://github.com/mhunger/taurissimo.git
[submodule "scm"]
	path = scm
	url = https://github.com/mhunger/scm.git
