.section-spacing {
  background: #FFFFFF;
  padding: .5em 0;
}

.section-spacing hr {
  border: none;
  border-bottom: 1px solid #979797;
  margin: 0 2em;
}

header {
  background-image: linear-gradient(316deg, #002451, #00bfa6 91%, #00ceae);
  padding: 1.5em 0;
}

header .card {
  width: 90%;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 1.5em 1em;
}

header .card.rounded {
  border-radius: 6px;
}

header .core-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #9b9b9b;
  color: #4a4a4a;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

header .core-info .field-icons-container {
  position: relative;
  top: -15%;
}

header .core-info .column.left {
  width: 50px;
}

header .core-info .travel-route .destination {
  margin-top: .5em;
}

header .core-info .travel-route .location {
  font-size: 1.5em;
  font-weight: bold;
}

header .core-info .travel-route .time-and-date {
  color: #777777;
}

header .core-info .travel-route .time-and-date .time {
  margin-right: 1em;
}

header .additional-info {
  display: flex;
  flex-direction: row;
}

header .additional-info .column {
  flex-grow: 1;
}

header .additional-info .column.right {
  padding: 2px 0;
  border-left: 1px solid #9b9b9b;
}

header .additional-info .price {
  color: #0fb2b2;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}

header .additional-info .free-seats {
  font-size: 1.5em;
  line-height: 2em;
}
header .additional-info .free-seats:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
  background: url('/assets/icons/seat.png');
  background-size: 100% auto;
  margin-right: 10px;
}

section {
  background-color: #FFFFFF;
  padding: 2em 1.5em;
}
section.ride-features {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.ride-features feature-icon {
  margin: 0 1em;
}

section.ride-description {
  color: #4a4a4a;
}

section.ride-description .title {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  margin-bottom: 1em;
}

section.ride-description .title:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 38px;
  background-image: url(/assets/icons/quote.png);
  background-size: 100% 100%;
}

section.ride-description p {
  font-size: 1.1em;
  line-height: 1.4em;
}

section.profiles .title {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  margin-bottom: 1em;
}

section.profiles .profiles {
  display: flex;
  flex-direction: row;
}

section.profiles .profiles .profile {
  flex-grow: 1;
}

section.profiles .profiles .profile .avatar {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 60%;
  border-radius: 50%;
  background-size: 100% 100%;
  margin-bottom: .5em;
}

section.profiles .profiles .profile.person .avatar {
  background-image: url(/assets/dummy/avatar.png)
}
section.profiles .profiles .profile.car .avatar {
  background-image: url(/assets/dummy/audia8.jpg)
}

section.profiles .profiles .profile {
  color: #4a4a4a;
}

section.profiles .profiles .profile .name {
  text-align: center;
  font-size: 1.4em;
}

section.profiles .profiles .profile .meta-data {
  text-align: center;
  font-size: 1.2em;
}

section.driver-ratings .title {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  margin-bottom: 1em;
}

section.driver-ratings .total-rating.columns {
  display: flex;
  margin-bottom: .5em;
}

section.driver-ratings .total-rating .rating-number span {
  font-size: 2em;
  margin-right: 10px;
}

section.driver-ratings .total-rating star-rating {
  position: relative;
  top: 10px;
}

section.driver-ratings .rating-container .title {
  font-size: 1em;
  margin-bottom: 5px;
  color: #7a7e81;
}

section.driver-ratings .rating-container .columns {
  display: flex;
  flex-direction: row;
}

section.driver-ratings .rating-container .columns .rating-number {
  margin-left: 10px;
}

