<div>
  <header>
    <div class="card rounded">
      <div class="core-info columns">
        <div class="column left">
            <div style="display: none">
                <svg id="location-field-icons" width="100%" height="100%" preserveAspectRatio xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <title>background</title>
                    <rect fill="#fff" id="canvas_background" height="40" width="12" y="-1" x="-1"/>
                    <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                    </g>
                  </g>
                  <g>
                    <title>Layer 1</title>
                    <ellipse stroke="#000" ry="3.5" rx="3.5" id="svg_1" cy="5" cx="5.125" stroke-width="0" fill="#ff0000"/>
                    <ellipse ry="3.5" rx="3.5" id="svg_3" cy="32.596397" cx="5.125" stroke="#00bfbf" fill="none"/>
                    <line stroke-width="2" stroke-dasharray="2,2" stroke-linecap="null" stroke-linejoin="null" id="svg_4" y2="27.434415" x2="4.982143" y1="11.714286" x1="4.982143" stroke="#999999" fill="none"/>
                  </g>
                </svg>
              </div>
              <svg viewBox="-2 -12 40 50" width="90" height="100" class="field-icons-container">
                  <use xlink:href="#location-field-icons"/>
              </svg>
        </div>
        <div class="travel-route columns right">
          <div class="departure">
            <div class="location">München</div>
            <div class="time-and-date">
              <span class="time">08:00 Uhr</span>
              <span class="date">15.12.2018</span>
            </div>
          </div>
          <div class="destination">
            <div class="location">Frankfurt</div>
            <div class="time-and-date">
              <span class="time">12:00 Uhr</span>
              <span class="date">15.12.2018</span>
            </div>
          </div>
        </div>
      </div>
      <div class="additional-info columns">
        <div class="column left free-seats">3 freie Plätze</div>
        <div class="column right price">34€</div>
      </div>
    </div>
  </header>
  <section class="quick-links">
    <a href="#features">Übersicht</a>
    <a href="#description">Beschreibung</a>
    <a href="#ratings">Bewertung</a>
    <a href="#passengers">Mitfahrer</a>
    <a href="#questions">Fragen</a>
    <a href="#booking">Buchung</a>
  </section>
  <section class="ride-features" id="">
    <feature-icon size="{{largeIcon}}" type="{{featureIconType.Pet}}"></feature-icon>
    <feature-icon size="{{largeIcon}}" type="{{featureIconType.Smoking}}"></feature-icon>
    <feature-icon size="{{largeIcon}}" type="{{featureIconType.TwoSeats}}"></feature-icon>
    <feature-icon size="{{largeIcon}}" type="{{featureIconType.Woman}}"></feature-icon>
  </section>
  <div class="section-spacing"><hr /></div>
  <section class="ride-description">
    <div class="title">Angaben des Fahrers</div>
    <p>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.

    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
  </section>
  <div class="section-spacing"><hr /></div>
  <section class="profiles">
    <div class="title">Fahrer, Fahrzeug & Bewertung</div>
    <div class="profiles">
      <div class="profile person">
        <div class="avatar"></div>
        <div class="name">Markus</div>
        <div class="meta-data">23 Jahre</div>
      </div>
      <div class="profile car">
        <div class="avatar"></div>
        <div class="name">Audi A8</div>
        <div class="meta-data">Schwarz</div>
      </div>
    </div>
  </section>
  <section class="driver-ratings">
    <div class="title">Durchschnittliche Bewertung</div>
    <div class="total-rating columns">
      <div class="rating-number">
        <span>4.0</span>
      </div>
      <div>
        <star-rating class="primary" rating="4"></star-rating>
      </div>
    </div>
    <div class="rating-container">
      <div class="title">Pünktlichkeit</div>
      <div class="columns">
        <div>
          <star-rating class="primary" rating="4"></star-rating>
        </div>
        <div>
          <span class="rating-number">(4.0)</span>
        </div>
      </div>
    </div>
    <div class="rating-container">
      <div class="title">Fahrverhalten</div>
      <div class="columns">
        <div>
          <star-rating class="primary" rating="5"></star-rating>
        </div>
        <div>
          <span class="rating-number">(4.7)</span>
        </div>
      </div>
    </div>
    <div class="rating-container">
      <div class="title">Sicherheit</div>
      <div class="columns">
        <div>
          <star-rating class="primary" rating="4"></star-rating>
        </div>
        <div>
          <span class="rating-number">(4.0)</span>
        </div>
      </div>
    </div>
    <div class="rating-container">
      <div class="title">Freundlichkeit</div>
      <div class="columns">
        <div>
          <star-rating class="primary" rating="4"></star-rating>
        </div>
        <div>
          <span class="rating-number">(4.0)</span>
        </div>
      </div>
    </div>
  </section>
  <div class="section-spacing"><hr /></div>
  <section class="passengers">
    <div class="title">Mitfahrgruppe</div>
    <div class="passenger-list">
      <div class="passenger-container">
        <div class="passenger"></div>
      </div>
      <div class="passenger-container">
        <div class="passenger"></div>
      </div>
      <div class="passenger-container">
        <div class="passenger"></div>
      </div>
    </div>
  </section>
  <div class="section-spacing"><hr /></div>
  <section class="questions">
    <div class="title">Öffentliche Fragen</div>
    <div class="message">
      <div class="column profile">
        <div class="avatar"></div>
      </div>
      <div class="column content">
        <div class="author">Markus</div>
        <div class="text">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</div>
        <div class="meta-data">Gesendet am 3.4.2018</div>
        <div class="section-spacing"><hr /></div>
        <div class="message">
            <div class="column profile">
              <div class="avatar"></div>
            </div>
            <div class="column content">
              <div class="author">Peter</div>
              <div class="text">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</div>
              <div class="meta-data">Gesendet am 3.4.2018</div>
            </div>
          </div>
      </div>
    </div>
    <div class="message">
      <div class="column profile">
        <div class="avatar"></div>
      </div>
      <div class="column content">
        <div class="author">Peter</div>
        <div class="text">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</div>
        <div class="meta-data">Gesendet am 3.4.2018</div>
      </div>
    </div>
  </section>
  <section class="booking">
      <button mat-raised-button color="primary">Fahrt Buchen</button>
  </section>
</div>
