.ride-filter-form {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 2em;
  width: 100%;
  z-index: 8;
  transition-property: transform;
  transition-duration: .5s;
}

.ride-filter-shadow {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .0);
  z-index: 5;
  transition-duration: .5s;
  transition-property: background-color;
}
.ride-filter-shadow.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, .4);
}

.ride-filter-form .departure-location-field-container {
  margin-bottom: 1em;
}

.ride-filter-form .column-layout-container {
  margin-bottom: 1em;
}

.ride-filter-form .column-layout-container .column {
  display: inline-block;
}

.ride-filter-form .column-layout-container .column-left {
  width: 8%;
}
.ride-filter-form .column-layout-container .column-right {
  width: 90%;
}

.ride-filter-form date-picker-field.departure-date {
  width: 100%;
}

.ride-filter-form span.field-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.ride-filter-form span.date-picker-icon {
  background: url('/assets/icons/calendar.png') left top no-repeat;
  background-size: contain;
  position: relative;
  left: 5px;
  top: 8px;
}

.ride-filter-form span.passenger-icon {
  background: url('/assets/icons/passenger.png') left top no-repeat;
  background-size: contain;
  position: relative;
  left: 5px;
  top: 8px;
}

.ride-filter-form .passenger-count {
  background-color: #fbfbfc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 3em;
  font-size: 1.2em;
}

.ride-filter-form .apply-button-container {
  margin-top: 2em;
  text-align: center;
}
