span.icon {
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  bottom: -2px;
}

span.icon.small {
  width: 15px;
  height: 15px;
}
span.icon.medium {
  width: 25px;
  height: 25px;
}
span.icon.large {
  width: 32px;
  height: 32px;
}

span.icon.circle {
  border: 2px solid #979797;
  border-radius: 20px;
  padding: 6px;
  width: 26px;
  height: 26px;
  background-size: 60% auto;
  background-position: center center;
}
span.icon.circle.small {
  border-radius: 20px;
  width: 26px;
  height: 26px;
}
span.icon.circle.medium {
  border-radius: 28px;
  width: 36px;
  height: 36px;
}
span.icon.circle.large {
  border-radius: 32px;
  width: 42px;
  height: 42px;
}

span.icon.payment-cash { background-image: url(/assets/rides/icons/cash.png); }
span.icon.payment-paypal { background-image: url(/assets/rides/icons/paypal.png); }
span.icon.booking-instant { background-image: url(/assets/rides/icons/instant.png); }
span.icon.booking-reservation { background-image: url(/assets/rides/icons/reservation.png); }
span.icon.pet { background-image: url(/assets/rides/icons/pet.png); }
span.icon.seats { background-image: url(/assets/rides/icons/seats.png); }
span.icon.woman { background-image: url(/assets/rides/icons/woman.png); }
span.icon.smoking { background-image: url(/assets/rides/icons/smoking.png); }
span.icon.baggage { background-image: url(/assets/rides/icons/baggage.png); }
span.icon.detour { background-image: url(/assets/rides/icons/detour.png); }
span.icon.up-arrow { background-image: url(/assets/rides/icons/up-arrow.jpg); }
span.icon.down-arrow { background-image: url(/assets/rides/icons/down-arrow.jpg); }
