<filter-panel
  *ngIf="isFilterFormVisible"
  (apply)="hideFilterAndSearch()"
  (hide)="hideFilterPanel()"></filter-panel>
<div class="ride-filter-summary-container" (click)="showFilterPanel()">
  <div class="filter-summary">{{filterSummary$ | async}}</div>
</div>
<div class="container ride-list">
  <div *ngIf="(ridesSearchResults$ | async)?.length === 0" class="no-rides-found">
    <p *ngIf="(rideSearchFailed$ | async) === false">Keine Fahrten gefunden.</p>
    <p *ngIf="(rideSearchFailed$ | async) === true">Es ist ein Fehler aufgetreten!</p>
  </div>
  <div class="row ride" *ngFor="let ride of ridesSearchResults$ | async">
    <div class="col-xs-12">
      <div class="row header" routerLink="view/{{ride.id}}">
        <div class="col-xs-8">
          <div class="track">{{ride.from}} – {{ ride.to }}</div>
          <div class="price">{{ride.price}} EUR</div>
        </div>
        <div class="col-xs-4 stack-vertical">
          <div class="profile-picture" [ngStyle]="{'background-image': 'url(/assets/'+ride.offeredBy.img+')'}"></div>
          <div class="name">{{ride.offeredBy.firstname}}</div>
          <div><star-rating [rating]="ride.offeredBy.userRating"></star-rating></div>
        </div>
      </div>
      <div class="row details">
        <div class="col-xs-12">
          <div class="row main">
            <div class="col-xs-4">{{ride.travelDay}}</div>
            <div class="col-xs-4">{{ride.seats}} Plätze frei</div>
            <div class="col-xs-4">{{ride.travelDay}}</div>
          </div>
          <div class="row features">
            <div class="col-xs-6"><feature-icon circle="false" type="{{featureIconTypes.PaymentCash}}"></feature-icon> Barzahlung</div>
            <div class="col-xs-6"><feature-icon circle="false" type="{{featureIconTypes.PaymentPayPal}}"></feature-icon> PayPal</div>
            <div class="col-xs-6"><feature-icon circle="false" type="{{featureIconTypes.BookingInstant}}"></feature-icon> Sofortzahlung</div>
            <div class="col-xs-6"><feature-icon circle="false" type="{{featureIconTypes.BookingReservation}}"></feature-icon> Reservierung</div>
          </div>
          <div class="row features-more" *ngIf="ride.showDetails">
            <div class="col-xs-2" *ngIf="ride.pet"><feature-icon type="{{featureIconTypes.Pet}}"></feature-icon></div>
            <div class="col-xs-2" *ngIf="ride.twoseats"><feature-icon type="{{featureIconTypes.TwoSeats}}"></feature-icon></div>
            <div class="col-xs-2" *ngIf="ride.woman"><feature-icon type="{{featureIconTypes.Woman}}"></feature-icon></div>
            <div class="col-xs-2" *ngIf="ride.smoker"><feature-icon type="{{featureIconTypes.Smoking}}"></feature-icon></div>
            <div class="col-xs-2" *ngIf="ride.baggageSize"><feature-icon type="{{featureIconTypes.Baggage}}"></feature-icon></div>
          </div>
          <a (click)="ride.showDetails = !ride.showDetails" class="toggle-ride-details">
            <span *ngIf="!ride.showDetails">Show details <span class="icon down-arrow"></span></span>
            <span *ngIf="ride.showDetails">Hide details <span class="icon up-arrow"></span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
