<div class="container ride-filter-form" [class.open]="isFilterFormVisible">
  <div class="departure-destination-fields-container">
    <div class="column column-left">
      <div style="display: none">
        <svg id="location-field-icons" width="100%" height="100%" preserveAspectRatio xmlns="http://www.w3.org/2000/svg">
          <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
          <g>
            <title>background</title>
            <rect fill="#fff" id="canvas_background" height="40" width="12" y="-1" x="-1"/>
            <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
            </g>
          </g>
          <g>
            <title>Layer 1</title>
            <ellipse stroke="#000" ry="3.5" rx="3.5" id="svg_1" cy="5" cx="5.125" stroke-width="0" fill="#ff0000"/>
            <ellipse ry="3.5" rx="3.5" id="svg_3" cy="32.596397" cx="5.125" stroke="#00bfbf" fill="none"/>
            <line stroke-width="2" stroke-dasharray="2,2" stroke-linecap="null" stroke-linejoin="null" id="svg_4" y2="27.434415" x2="4.982143" y1="11.714286" x1="4.982143" stroke="#999999" fill="none"/>
          </g>
        </svg>
      </div>
      <svg viewBox="-2 -12 40 50" width="90" height="100" class="field-icons-container">
          <use xlink:href="#location-field-icons"/>
      </svg>
    </div>
    <div class="column column-right">
      <location-field placeholderText="Start" radiusOption="true"></location-field>
      <location-field placeholderText="Ziel" radiusOption="true"></location-field>
    </div>
  </div>
  <date-picker-field style="width: 100%;" label="Reise-Datum:"></date-picker-field>
  <counter-field label="Anzahl Mitfahrer" minimum="1" maximum="3" value="{{1}}"></counter-field>
  <toggle-field label="Sitzplatzreservierung" description="Lorem ipsum dolor sit amet dolor sit amet"></toggle-field>
  <toggle-field label="Sofortbuchung" description="Lorem ipsum dolor sit amet dolor sit amet"></toggle-field>
  <counter-field label="Freie Sitzplätze" minimum="1" maximum="6" value="{{1}}"></counter-field>
  <div style="padding: 1em 0;">
    <div style="font-weight: bold;">Bezahlung</div>
    <mat-button-toggle-group multiple="true">
      <mat-button-toggle value="online">Onlinezahlung</mat-button-toggle>
      <mat-button-toggle value="cash">Bargeldzahlung</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div style="padding: 1em 0;">
    <div style="font-weight: bold;">Während der Fahrt</div>
    <mat-button-toggle-group multiple="true">
      <mat-button-toggle value="woman_only">Woman Only</mat-button-toggle>
      <mat-button-toggle value="animals_allowed">Tiere Erlaubt</mat-button-toggle>
      <mat-button-toggle value="smoking_allowed">Rauchen Erlaubt</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div style="padding: 1em 0;">
    <div style="font-weight: bold;">Gepäck</div>
    <mat-button-toggle-group multiple="true">
      <mat-button-toggle value="small">Klein (S)</mat-button-toggle>
      <mat-button-toggle value="medium">Mittel (M)</mat-button-toggle>
      <mat-button-toggle value="large">Groß (L)</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div style="padding: 1em 0;">
    <div style="font-weight: bold;">Maximaler Preis</div>
    <mat-slider
        [min]="1"
        [max]="10"
        [step]="1"
        style="width: 100%;"
      ></mat-slider>
  </div>
</div>
<div class="ride-filter-shadow" [class.show]="isFilterFormVisible" (click)="toggleFilterForm()"><!-- empty --></div>
<div class="ride-filter-summary-container" (click)="toggleFilterForm()">
  <div class="filter-summary">M&uuml;nchen – Hamburg • 3.12.2017 • 2 Personen</div>
</div>
<div class="container ride-list">
  <div class="row ride" *ngFor="let ride of rideList">
    <div class="col-xs-12">
      <div class="row header" routerLink="view/{{ride.id}}">
        <div class="col-xs-8">
          <div class="track">{{ride.from}} – {{ ride.to }}</div>
          <div class="price">{{ride.price}} EUR</div>
        </div>
        <div class="col-xs-4 stack-vertical">
          <div class="profile-picture" [ngStyle]="{'background-image': 'url(/assets/'+ride.offeredBy.img+')'}"></div>
          <div class="name">{{ride.offeredBy.firstname}}</div>
          <div><star-rating [rating]="ride.offeredBy.userRating"></star-rating></div>
        </div>
      </div>
      <div class="row details">
        <div class="col-xs-12">
          <div class="row main">
            <div class="col-xs-4">{{ride.travelDay}}</div>
            <div class="col-xs-4">{{ride.seats}} Plätze frei</div>
            <div class="col-xs-4">{{ride.travelDay}}</div>
          </div>
          <div class="row features">
            <div class="col-xs-6"><span class="icon payment-cash"></span> Barzahlung</div>
            <div class="col-xs-6"><span class="icon payment-paypal"></span> PayPal</div>
            <div class="col-xs-6"><span class="icon payment-instant"></span> Sofortzahlung</div>
            <div class="col-xs-6"><span class="icon booking-reservation"></span> Reservierung</div>
          </div>
          <div class="row features-more" *ngIf="ride.showDetails">
            <div class="col-xs-2" *ngIf="ride.pet"><span class="icon pet circle"></span></div>
            <div class="col-xs-2" *ngIf="ride.twoseats"><span class="icon seats circle"></span></div>
            <div class="col-xs-2" *ngIf="ride.woman"><span class="icon woman circle"></span></div>
            <div class="col-xs-2" *ngIf="ride.smoker"><span class="icon smoking circle"></span></div>
            <div class="col-xs-2" *ngIf="ride.baggageSize"><span class="icon baggage circle"></span></div>
          </div>
          <a (click)="ride.showDetails = !ride.showDetails" class="toggle-ride-details">
            <span *ngIf="!ride.showDetails">Show details <span class="icon down-arrow"></span></span>
            <span *ngIf="ride.showDetails">Hide details <span class="icon up-arrow"></span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
