.ride-filter-form {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100%;
  z-index: 8;
  transition-property: transform;
  transition-duration: .5s;
  transform: translateY(-100%);
}
.ride-filter-form.open {
  transform: translateY(0);
}

.ride-filter-shadow {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .0);
  z-index: 5;
  transition-duration: .5s;
  transition-property: background-color;
}
.ride-filter-shadow.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, .4);
}

.ride-filter-summary-container {
  position: absolute;
  top: 56px;
  left: 0;
  background-color: #FAFAFA;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ride-filter-summary-container .filter-summary {
  width: 90%;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  background-color: #F2F2F2;
  border-radius: 2px;
  text-align: center;
}

.ride-list {
  margin-top: 70px;
  width: 90%;
}

.ride-list .ride {
  margin-bottom: 20px;
}

.ride-list .ride .row {
  background-color: #ffffff;
}

.ride-list .ride .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0c9797;
  color: #ffffff;
  padding-bottom: 6px;
  cursor: pointer;
}

/* Generic styles */
.ride-list .ride .header .stack-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ride-list .ride .header .track {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.ride-list .ride .header .price {
  display: block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.ride-list .ride .header .profile-picture {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-size: 100% auto;
}

.ride-list .ride .header .name {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}

.ride-list .ride .details {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ride-list .ride .details .row.main {
  padding: 24px 0 0;
  font-size: 16px
}

.ride-list .ride .details .row.main > div {
  padding: 0;
  text-align: center;
}

.ride-list .ride .details .row.features {
  padding: 10px 0 10px;
  margin: 0 5px;
  color: #9e9e9e;
  font-size: 12px;
  border-bottom: 1px solid #bdbdbd;
}

.ride-list .ride .details .row.features > div {
  padding: 0;
}

.ride-list .ride .details .row.features-more {
    padding: 10px 0 0;
    margin: 0;
}

.ride-list .ride .toggle-ride-details {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #9e9e9e;
  cursor: pointer;
}

/* @TODO: move icons to global stylesheets file */
span.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  bottom: -2px;
}

span.icon.circle {
  border: 2px solid #979797;
  border-radius: 20px;
  padding: 6px;
  width: 26px;
  height: 26px;
  background-size: 60% auto;
  background-position: center center;
}

span.icon.payment-cash { background-image: url(/assets/rides/icons/cash.png); }
span.icon.payment-paypal { background-image: url(/assets/rides/icons/paypal.png); }
span.icon.payment-instant { background-image: url(/assets/rides/icons/instant.png); }
span.icon.booking-reservation { background-image: url(/assets/rides/icons/reservation.png); }
/* TODO: replace icons with higher resolution ones! */
span.icon.pet { background-image: url(/assets/rides/icons/pet.png); }
span.icon.seats { background-image: url(/assets/rides/icons/seats.png); }
span.icon.woman { background-image: url(/assets/rides/icons/woman.png); }
span.icon.smoking { background-image: url(/assets/rides/icons/smoking.png); }
span.icon.baggage { background-image: url(/assets/rides/icons/baggage.png); }
span.icon.detour { background-image: url(/assets/rides/icons/detour.png); }
span.icon.up-arrow { background-image: url(/assets/rides/icons/up-arrow.jpg); }
span.icon.down-arrow { background-image: url(/assets/rides/icons/down-arrow.jpg); }


.ride-filter-form .departure-destination-fields-container .column {
  display: inline-block;
}

.ride-filter-form .departure-destination-fields-container .column-left {
  width: 8%;
}
.ride-filter-form .departure-destination-fields-container .column-right {
  width: 90%;
}
