.layout-header {
  border-bottom: 5px solid #0FB2B2;
  background-color: #FAFAFA;
  z-index: 10;
}

.layout-header .navbar-nav {
  margin-left: 5em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.layout-header .navbar-nav a {
  color: #2A648E;
  font-weight: bold;
  margin-right: .5em;
}
.layout-header .navbar-nav a.active {
  border-bottom: 3px solid #2A648E;
}
